

<!DOCTYPE html>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel">
    <center><h1> Customer Add</h1>

        <table>
            <th>
                <label> Customer Name</label>
            </th>

            <input ="text" value="text">
            <input type="submit" name="Submit" value="submit">



        </table>


    </center>



</div>



</!DOCTYPEhtml>