@{
    ViewBag.Title = "Home Page";
}

<style>
    table, th, td, tbody {
        border: 2px solid black;
    }

    table {
        border-spacing: 80px;
        text-align: center;
        
    }

    tbody {
      
    }

    th {
        text-align: center;
        width: 400px;
      
    }

    td {
        text-align: center;
        width: 400px;
      
    }
</style>





<div class="jumbotron">
    <center>  <h1>MVC Web Project</h1></center>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <div class="active">
        <center>
            <table>
                <table>
                    <p>
                    <tr>
                        <th>Order No</th>
                        <th>Order Date</th>
                        <th>Customer Name</th>
                        <th>Total Amount</th>
                    </tr>
                    <tbody>

                        <tr>
                            <td>001</td>
                            <td>12/31/2019</td>
                            <td>Freddie Mercury Queen</td>
                            <td>77</td>
                        </tr>

                        <tr>
                            <td>002</td>
                            <td>12/12/2021</td>
                            <td>Friedrick Nietzsche</td>
                            <td>99</td>
                        </tr>

                        <tr class="clickable-row">

                            <td> 003</td>
                            <td>01/25/2022</td>
                            <td> Josep Joestar</td>
                            <td> 555</td>

                        </tr>
                        <tr>
                            <td>004</td>
                            <td>03/05/2022</td>
                            <td>Kurt Cobain</td>
                            <td>456</td>
                        </tr>
                        <tr>
                            <td>005</td>
                            <td>05/28/2022</td>
                            <td>Jimmy Page</td>
                            <td>250</td>
                        </tr>

                        <tr>
                            <td>006</td>
                            <td>04/12/2022</td>
                            <td>Gaius Julius Cesaer</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                    </p>
                </table>

            </table>
        </center>
    </div>



</div>




@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@